DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/opc_hub"
NEXTAUTH_SECRET="generate-with-openssl-rand-hex-32"
NEXTAUTH_URL="http://localhost:3004"

# Tencent Cloud SMS
TENCENT_SECRET_ID=""
TENCENT_SECRET_KEY=""
TENCENT_SMS_SDK_APP_ID="1401130610"
TENCENT_SMS_SIGN_NAME=""
TENCENT_SMS_TEMPLATE_ID=""

# WeChat OAuth
WECHAT_CLIENT_ID=""
WECHAT_CLIENT_SECRET=""

# Public contact information for service pages
NEXT_PUBLIC_CONTACT_WECHAT_QR_URL=""
NEXT_PUBLIC_CONTACT_PHONE=""
NEXT_PUBLIC_CONTACT_EMAIL=""
